.container {
  display: grid;

  & .company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.7rem;

    @media (--sm) {
      gap: 15px;
    }

    & .title {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  & .description {
    margin-top: 0;
    margin-bottom: 1em;

    & ul {
      margin: 0;
    }
  }
}
